<footer class="footer" role="contentinfo">
  <section class="footer__section"><span>Built with <a href="https://www.11ty.dev" title="Eleventy, static site generator" target="_blank" rel="noopener noreferrer">Eleventy</a>.&nbsp;</span><span>Hosted on <a href="https://pages.github.com" target="_blank" rel="noopener noreferrer">Github&nbsp;Pages</a>.</span></section>
  {# icons from https://feathericons.com/ #}
  <aside role="complementary" class="footer__contacts">
    <a class="icon icon--file" title="Download resume as PDF" target="_blank" rel="noopener noreferrer" href="/assets/dolf-barr-resume.pdf">
      <span class="visually-hidden">Download resume as PDF</span>
    </a>
    <a class="icon icon--gpg" title="GPG Key" target="_blank" rel="noopener noreferrer" href="/assets/dolf-barr-gpg.key">
      <span class="visually-hidden">GPG Key</span>
    </a>
    <a class="icon icon--mail" title="Email" target="_blank" rel="noopener noreferrer" href="mailto:{{ data.contacts.email }}">
      <span class="visually-hidden">Email</span>
    </a>
    <a class="icon icon--telegram" title="Telegram" target="_blank" rel="noopener noreferrer" href="{{ data.contacts.telegram }}">
      <span class="visually-hidden">Telegram</span>
    </a>
    <a class="icon icon--instagram" title="Instagram" target="_blank" rel="noopener noreferrer" href="{{ data.contacts.instagram }}">
      <span class="visually-hidden">Instagram</span>
    </a>
    <a class="icon icon--twitter" title="Twitter" target="_blank" rel="noopener noreferrer" href="{{ data.contacts.twitter }}">
      <span class="visually-hidden">Twitter</span>
    </a>
    <a class="icon icon--github" title="Github" target="_blank" rel="noopener noreferrer" href="{{ data.contacts.github }}">
      <span class="visually-hidden">Github</span>
    </a>
    <a class="icon icon--stack-overflow" title="Stack Overflow" target="_blank" rel="noopener noreferrer" href="{{ data.contacts.stackoverflow }}">
      <span class="visually-hidden">Stack Overflow</span>
    </a>
    <a class="icon icon--linkedin" title="Linkedin" target="_blank" rel="noopener noreferrer" href="{{ data.contacts.linkedin }}">
      <span class="visually-hidden">Linkedin</span>
    </a>
  </aside>
</footer>