<footer class="footer" role="contentinfo">
  <section class="footer__section"><span>Built with <a href="https://www.11ty.dev" title="Eleventy, static site generator" target="_blank" rel="noopener noreferrer">Eleventy</a>. Hosted on <a href="https://pages.github.com" title="Github Pages" target="_blank" rel="noopener noreferrer">Github Pages</a>.</span></section>
  <aside role="complementary" class="footer__contacts">
    <a class="footer__icon footer__icon--mail" title="Email" target="_blank" rel="noopener noreferrer" href="mailto:{{ data.contacts.email }}">
      <span class="visually-hidden">Email</span>
    </a>
    <a class="footer__icon footer__icon--telegram" title="Telegram" target="_blank" rel="noopener noreferrer" href="{{ data.contacts.telegram }}">
      <span class="visually-hidden">Telegram</span>
    </a>
    <a class="footer__icon footer__icon--twitter" title="Twitter" target="_blank" rel="noopener noreferrer" href="{{ data.contacts.twitter }}">
      <span class="visually-hidden">Twitter</span>
    </a>
    <a class="footer__icon footer__icon--github" title="Github" target="_blank" rel="noopener noreferrer" href="{{ data.contacts.github }}">
      <span class="visually-hidden">Github</span>
    </a>
    <a class="footer__icon footer__icon--stack-overflow" title="Stack Overflow" target="_blank" rel="noopener noreferrer" href="{{ data.contacts.stackoverflow }}">
      <span class="visually-hidden">Stack Overflow</span>
    </a>
    <a class="footer__icon footer__icon--linkedin" title="Linkedin" target="_blank" rel="noopener noreferrer" href="{{ data.contacts.linkedin }}">
      <span class="visually-hidden">Linkedin</span>
    </a>
  </aside>
</footer>