<meta charset="UTF-8">
<meta name="viewport" content="width=device-width">

<link rel="icon" href="/assets/favicons/32.png" sizes="32x32">
<link rel="icon" href="/assets/favicons/192.png" sizes="192x192">
<link rel="apple-touch-icon" href="/assets/favicons/apple-touch-icon.png">