$background-color: #FFFFFF;
$text-color: #2F2F2F;
$lighter-text-color: #7A7A7A;

$line-height: 1.7em;
$font-size: 18px;

$column-width: 720px;

$primary-color: #2799F1;
$secondary-color: #FF9D1A;
$optional-color: #8AC926;