$background-color: #fff;
$text-color: #2f2f2f;
$lighter-text-color: #767676;
$line-height: 1.7em;
$font-size: 18px;
$column-width: 720px;
$mobile-width: 768px;
$primary-color: #0078d4;
$secondary-color: #af6400;
$optional-color: #518400;
