@import "../common/variables";

.experience {
  &__separator {
    @media (max-width: $mobile-width) {
      display: none;
    }
  }

  &__list {
    display: grid;
    grid-template-columns: 50% 50%;
    padding: 0;
    column-gap: 0.5em;
    row-gap: 0.5em;

    &--item {
      display: block;
    }

    @media (max-width: $mobile-width) {
      grid-template-columns: 100%;
    }
  }
}

.card {
  display: flex;
  flex-direction: column;

  &__title {
    font-size: 1.1em;
  }

  &__skills {
    font-style: italic;
    font-size: 0.9em;
    font-weight: 100;
  }

  &__skills,
  &__description {
    margin-bottom: 0.32em;
  }

  &__dates {
    color: $lighter-text-color;
  }
}
