.landing {
  padding-top: 0.5em;

  .landing__greeting { /* stylelint-disable-line selector-class-pattern */
    font-size: 1.2em;
  }
}

.header-link {
  text-decoration: none;
  &:hover {
    text-decoration: underline;
    position: relative;

    &::before {
      content: '#';
      position: absolute;
      left: -0.7em;
      bottom: -0.15em;
    }
  }
}