<!DOCTYPE html>
<html lang="en" class="page">
<head>
  <title>{{ data.author | title }}</title>
  <meta name="description" content="{{ data.description }}">

  {% include 'head.njk' %}

  <link rel="stylesheet" href="styles/page.css">
</head>
<body class="page__content">
  <main class="page__section" role="main" id="main">
    {{ content | safe }}
  </main>
  {% include 'footer.njk' %}
</body>