<section class="contact">
  <h2 id="contact-me">Contact Information</h2>

  <p>Feel free to drop me a message via email <a href="mailto:{{ data.contacts.email }}" title="Email">{{ data.contacts.email }}</a> or telegram <a href="{{ data.contacts.telegram }}" title="Telegram" rel="noopener noreferrer">{{ data.contacts.telegram }}</a>.</p>
</section>