<section class="contribution">
  <h2 id="contribution-graph">Contribution</h2>

  <div class="contribution__graph">
    <img src="https://ghchart.rshah.org/0078d4/{{ data.nickname }}" class="contribution__graph--image"/>
  </div>
</section>