<section class="experience">
  <h2 id="my-experience">Work Experience <span class="experience__separator">⸱</span> {{ data.totalYearsOfExperience }}+&nbsp;years </h2>

  <ul class="experience__list">
    <li class="experience__list--item card">
      <h3 class="card__title">Senior Frontend Engineer @ Invitae ⸱ contract</h3>
      <p class="card__description">Working on the frontend architecture and implementation business processes for web portal & inner tools.</p>
      <p class="card__skills">Tech: JS, Typescript, HTML, CSS, Less, Stylus, Sass, Node.js (NestJS), Redux-Forms, Formik, Yup, Cypress, Python (Django)</p>
      <p class="card__dates">April 2019 — now</p>
    </li>
    <li class="experience__list--item card">
      <h3 class="card__title">Senior Software Engineer @ QuantumSoft</h3>
      <p class="card__description">Within different teams working on projects for QuantumSoft partners. Most of the time, I am responsible for the frontend architecture and development of the UI and application business logic.</p>
      <p class="card__dates">October 2015 — now</p>
    </li>
    <li class="experience__list--item card">
      <h3 class="card__title">Frontend Engineer @ Mind Doodle ⸱ contract</h3>
      <p class="card__description">Responsibility for the frontend architecture and development of the UI and application business logic.</p>
      <p class="card__skills">Tech: JS, Flow, Typescript, HTML, CSS, Less, Websockets, Node.js (Express.js), Webpack, Cytoscape, d3, Draft.js</p>
      <p class="card__dates">August 2016 — March 2019</p>
    </li>
    <li class="experience__list--item card">
      <h3 class="card__title">Full-Stack Web Developer @ KREOSOFT</h3>
      <p class="card__description">Participated in the development of corporate and social services for students and employees of Tomsk State University.</p>
      <p class="card__dates">November 2013 — September 2015</p>
    </li>
    <li class="experience__list--item card">
      <h3 class="card__title">Full-Stack Web Developer @ Soundotcom</h3>
      <p class="card__description">Developing and implementing of a beta version of the application SoundDotCom.</p>
      <p class="card__dates">January 2014 — July 2014</p>
    </li>
  </ul>

  <h2 id="education">Education</h2>

  <div class="card">
    <h3 class="card__title">Tomsk State University</h3>
    <p class="card__description">Bachelor's degree, Computer Science.</p>
    <p class="card__dates">2011-2015</p>
  </div>
</section>