<section class="experience" id="my-experience">
  <h2>My experience ⸱ {{ data.totalYearsOfExperience }}+ years </h2>

  <ul class="experience__list">
    <li class="experience__list--item card">
      <h3 class="card__title">Frontend Engineer @ Invitae ⸱ contract</h3>
      <p class="card__description">Working on the frontend architecture and implementation business processes for web portal & inner tools.</p>
      <p class="card__dates">April 2018 — now</p>
    </li>
    <li class="experience__list--item card">
      <h3 class="card__title">Software Engineer @ QuantumSoft</h3>
      <p class="card__description">Within different teams working on projects for QuantumSoft partners. Most of the time, I am responsible for the frontend architecture and development of the UI and application business logic.</p>
      <p class="card__dates">October 2015 — now</p>
    </li>
    <li class="experience__list--item card">
      <h3 class="card__title">Frontend Engineer @ Mind Doodle ⸱ contract</h3>
      <p class="card__description">Responsibility for the frontend architecture and development of the UI and application business logic.</p>
      <p class="card__dates">August 2016 — March 2018</p>
    </li>
    <li class="experience__list--item card">
      <h3 class="card__title">Full-Stack Developer @ KREOSOFT</h3>
      <p class="card__description">Participated in the development of corporate and social services for students and employees of Tomsk State University.</p>
      <p class="card__dates">November 2013 — September 2015</p>
    </li>
    <li class="experience__list--item card">
      <h3 class="card__title">Full-Stack Developer @ Soundotcom</h3>
      <p class="card__description">Developing and implementing of a beta version of the application SoundDotCom.</p>
      <p class="card__dates">January 2014 — July 2014</p>
    </li>
  </ul>
</section>