<section class="landing">
  <h1 id="greeting">Hi!  I&rsquo;m Dolf&nbsp;Barr 👋</h1>

  <p class="landing__greeting">
    a frontend engineer at <a href="{{ data.work.link }}" title="{{ data.work.name }}" target="_blank" rel="noopener noreferrer">{{ data.work.label }}</a> with {{ data.totalYearsOfExperience }}+&nbsp;years of experience based in <em>Belgrade, Serbia</em>.
    <br>
    I passionate in web  and, especially, in frontend development and like to be on the edge of business problem solving and appeal for users, and believe that soft skills and clean code matter.
  </p>
</section>