<section class="landing">
  <h1 id="greeting">Hi!  I’m Dolf Barr 👋</h1>

  <p class="landing__greeting">a frontend engineer at <a href="{{ data.work.link }}" title="{{ data.work.name }}" target="_blank" rel="noopener noreferrer">{{ data.work.label }}</a> based in Saint Petersburg, Russia. <br> I like to be on the edge of business problem solving and appeal for users, and believe that soft skills and clean code matter.</p>
</section>