<section class="skills">
  <h2 id="contact-me">Skills</h2>

  <p class="skills-list">
    <span class="skills-list__title">JavaScript (ES5, ES6, ES7, ESNext)</span>
    <span class="skills-list__title">Typescript</span>
    <span class="skills-list__title">React</span>
    <span class="skills-list__title">Redux</span>
    <span class="skills-list__title">HTML (HTML5)</span>
    <span class="skills-list__title">CSS (CSS3)</span>
    <span class="skills-list__title">Less</span>
    <span class="skills-list__title">Sass</span>
    <span class="skills-list__title">PostCSS</span>
    <span class="skills-list__title">Redux-Forms</span>
    <span class="skills-list__title">React hook forms</span>
    <span class="skills-list__title">Formik</span>
    <span class="skills-list__title">Yup</span>
    <span class="skills-list__title">Thunk</span>
    <span class="skills-list__title">Saga</span>
    <span class="skills-list__title">Next.js</span>
    <span class="skills-list__title">jQuery</span>
    <span class="skills-list__title">Websockets</span>
    <span class="skills-list__title">Babel</span>
    <span class="skills-list__title">Webpack</span>
    <span class="skills-list__title">BEM</span>
    <span class="skills-list__title">REST</span>
    <span class="skills-list__title">ESLint</span>
    <span class="skills-list__title">JSLint</span>
    <span class="skills-list__title">Prettier</span>
    <span class="skills-list__title">Ava</span>
    <span class="skills-list__title">Mocha</span>
    <span class="skills-list__title">Chai</span>
    <span class="skills-list__title">Sinon</span>
    <span class="skills-list__title">Enzyme</span>
    <span class="skills-list__title">istanbul</span>
    <span class="skills-list__title">Jest</span>
    <span class="skills-list__title">CSS Modules</span>
    <span class="skills-list__title">Styled Components</span>
    <span class="skills-list__title">Lodash</span>
    <span class="skills-list__title">Cypress</span>
    <span class="skills-list__title">Cytoscape</span>
    <span class="skills-list__title">d3</span>
    <span class="skills-list__title">Draft.js</span>
    <span class="skills-list__title">Moment.js</span>
    <span class="skills-list__title">Node.js (Express.js, Nest.js)</span>
    <span class="skills-list__title">Bash</span>
    <span class="skills-list__title">Git</span>
    <span class="skills-list__title">Nginx</span>
    <span class="skills-list__title">Docker</span>
    <span class="skills-list__title">pm2</span>
    <span class="skills-list__title">SQL</span>
    <span class="skills-list__title">CI/CD</span>
    <span class="skills-list__title">Gitlab</span>
    <span class="skills-list__title">Github</span>
  </p>
</section>