<section class="skills">
  <h2 id="contact-me">Skills</h2>

  <p class="skills-list">
    <span class="skills-list__title">JavaScript</span>
    <span class="skills-list__title">Typescript</span>
    <span class="skills-list__title">React</span>
    <span class="skills-list__title">Redux</span>
    <span class="skills-list__title">CSS</span>
    <span class="skills-list__title">Less</span>
    <span class="skills-list__title">Sass</span>
    <span class="skills-list__title">Node.js</span>
    <span class="skills-list__title">Nest.js</span>
  </p>
</section>